:root {
    --cor-background: #4180ab;
    --cor-conteiner: #ffffff;
    --cor-focus: rgb(54, 222, 225);
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor-background);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 5px;
    font-size: 2.2em;
    font-weight: bolder;

}

p {
    margin: 10px;

}


.conteiner {
    background-color: var(--cor-conteiner);
    width: 600px;
    height: 100%;
    margin: 50px auto;
    padding: 10px;

    border: solid black 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.43);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
div.tarefas{
    display: flex;
    justify-content: space-around;
   
    
   
}

input {
    font-weight: bold;
    color: #173f5a;
    background-color: #f8f8fd;
    padding: 0.8em 2.2em;
    border-radius: 1em;
    border: 2px solid #4180ab;



    padding: 5px;
    margin: 5px;
    width: 90%;
    height: 45px;

}

input:focus {
    outline: 2px solid rgb(54, 222, 225);
}

button {
    
    height: 30px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
    font-family: inherit;
    font-weight: bold;
    color: #2b648a;
    background-color: #f8f8fd;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    border: 1px solid #4180ab;

}


button:active {
    position: relative;
    top: 3px;
    border: 1px solid #12ff01ce;
    box-shadow: 0px 0px;
}

ul {
    margin: 10px;
}

li {
    margin: 10px;
    font-size: 1.1em;
}

ul button {
    height: 17px;
    width: 50px;
    padding: 0px;
    margin: 5px;
    font-size: 0.5em;
}